.Rproj.user
.Rhistory
.RData
.Ruserdata
input/*
!output/figures/additional/stability_landscapes
output/figures/additional/stability_landscapes/*
!output/figures/additional/stability_landscapes/.gitkeep
!output/figures/publication
output/figures/publication/*
!output/figures/publication/.gitkeep